
/*  Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */



body {
    /* font-family: 'Abril Fatface' cursive; */
    font-family: 'Merriweather Sans', sans-serif;
    background-image: linear-gradient( #77caebb3, rgba(239, 229, 229, 0.551),rgba(81, 81, 218, 0.468));
    text-align: center;
 
}

.navbar {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-left: 19%;
    padding-right: 19%;
}
.navbar-toggler{
     /* margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 10%;   
    align-items: center;  */
    margin-left: 10;
}
 .logoicon {
     color: black;
 }
/* .navbar-brand {
    
} */

/* .navbar-toggler{
    align-items: center;
} */

h1 {
    
    font-size: 2.5rem;
    font-family: 'Merriweather Sans', sans-serif;
}  


h2  {
    
    font-family: "Ubuntu Condensed";
    margin-top: 5;
    font-size: 1.5.rem;
}

h5 {
    font-weight:bold;
    
}



.logo {
    margin-top: 10px;
    margin-right: auto ;
    /* align-items: flex-start; */
    padding-bottom: 20px;
    font-size: 2rem;
  
}



.mybox1 {
    display: block;
    /* background-color: rgba(225, 222, 219, 0.24); */
    min-height: 180px;
    margin-top:  5px;
    text-align: left;
    /* padding-top: 10px;
    padding: 0px 15px 0px 5px; */
}

p , li{
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;

}

lead {
    font-family: 'Merriweather', serif;
    /* font-family: 'Montserrat'; */
    font-size: 1.6rem;
    margin:auto
}

.carousel-item{
    width: 300px;
}
.carouselExampleControls{
    width: 300px;
}


.service-list{
    font-family: "Ubuntu Condensed";
    margin-top: 5;
    font-size: 1.rem; 
    opacity: 1.6;
    
}

p2{
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    color: rgb(19, 20, 20);

}

.dropdown-menu{
    background-color: rgba(244, 244, 249, 0.848);
    align-items: center;
   }

.dropdown-item{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    
}

.drop-Shadow {
    background-color: rgb(245, 245, 220);
}

.lead {

    color: rgb(244, 237, 237);
    font-size: 1.8rem;
    font-weight:lighter;
}
.jumbotron{
    
    background-image: url(images/kal-Nakalonge3.png);
   
    background-size: cover;
    
    min-height: 50px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 150px;
    margin-bottom: 1px;
    display: flex;
    
   
}

.messagedujour {
    font-family: 'Anton', sans-serif;
    size: 3rem;
    color: aliceblue;
}


.btn-outline-light{
    border-color: rgba(5, 222, 246, 0.414);
}
.btn-outline-light:hover {
    background-color: rgba(234, 11, 11, 0.872);
}

.btn {
    display: block;
    width: 30%;
    /* margin-left: 40%; */
    margin-top: 5px;
}

/* .card img {
    width: 100%;
    width: 22.6rem;
    height: auto;
} */




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .card {
        width: 100%;
        margin: 5px;
    }

    #demo{
        width: 100%;
        
    }

    .jumbotron {
        width: 100%;
    }

    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    
    .card {
        width: 45%;
        margin: 5px;
    }
    #demo{
        width: 100%;
        
    }
    
    .jumbotron {
        width: 100%;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .card {
        width: 35%;
    }

    #demo{
        width: 35%;
        
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
 }
 
.bold{
    /* color: rgba(231, 236, 230, 0.822); */
    /* font-family: 'Asap', sans-serif; */
    /* font-family: 'Delius Unicase', cursive; */
    font-size: 1.80rem;
    font-weight: 5px;
    padding-bottom: 20px;
}

.boldmbnumber{
    /* color: rgb(40, 40, 68); */
    font-size: 1rem;
    font-weight: bold;
}

.tech-Flash {
    font-family: 'Anton', sans-serif;
    color: black;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
   

}

.service-title {
    font-family: 'Anton', sans-serif;
    margin: 5px;
    text-align: center;
}

.card-group {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   min-height: 500px; 
   min-width: 1024px;
   margin: 5px;
   text-align: left;
}

.temoignage-text {
    text-align: center;
    font-family: 'Anton', sans-serif;
    size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;

}

.card-img-top {
    margin: 2px;
}

#demo{

    margin-top: 100px;
   
}

.carousel-inner{
    margin: auto;
}

.carousel-indicators {
    
    color: black;
}

.card-body{
    padding: 15px;
}


.navbar-collapse{
    align-items:center
}

.fa-solid fa-circle-info{
    margin-left: 20px;
    margin-right: 20px ;
    size: 20px;
}

.collapse navbar-collapse{
    position: relative;
    left: 30px;
}

.visite-kivu{
    align-items: center;
}
.carousel-inner {
    display: inline;
}

